<main class="ui page grid">
  <div class="row">
    <div class="center aligned starter column">
      <h1 class="ui header">Browse and Create VR Websites</h1>
      <p>Veocities is a free platform for creating and sharing 3D assets and sites.</p>
      
    </div>
  </div>
</main>