<!doctype html>
<html>
  <head>
  	<title>Veocities - VR web sites</title>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  	<!--
    	<link href="/css/neo.css" rel="stylesheet" type="text/css" media="all">
    	<link href="/favicon.ico?v=4" rel="shortcut icon" type="image/ico">
  	-->

    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script language="javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/js/semantic.min.js"></script>

    <script>// using context
$('.context.example .ui.sidebar')
  .sidebar({
    context: $('.context.example .bottom.segment')
  })
  .sidebar('attach events', '.context.example .menu .item')
;</script>
  </head>

  <body>
    <nav class="ui fixed menu inverted navbar">
      <a href="/" class="brand item">Veocities</a>
      <!--
      <a href="/sites" class="active item">Sites</a>
      <a href="/assets" class="item">3D Assets</a>
      -->
      <a href="/signin" class="right item">Sign In</a>
    </nav>

    <div style="margin-bottom: 70px">
    </div>

    <%= yield %>

  </body>
</html>