<div class="ui left vertical inverted labeled icon sidebar overlay visible menu">
  <a class="item">
  <i class="fa fa-bars" aria-hidden="true"></i>
  VEO
  </a>
    <div class="ui two top attached buttons">
      <div class="ui button">EXPLORE</div>
      <div class="inverted ui button">CREATE</div>
    </div>
  
  <br>

<div class="ui fluid category search">
  <div class="ui icon input">
    <input class="prompt" placeholder="Search assets..." type="text">
  </div>
  <div class="results"></div>
</div>

  <a class="item">
    Assets Library
  </a>
  <a class="item">
    Tutorials
  </a>
  <br>
  <button class="fluid ui teal button">Upload Asset</button>
  <div class="ui divider"></div>
  <a class="item">
  <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
  </a>
  <a class="item">
  <i class="fa fa-cubes fa-2x" aria-hidden="true"></i>
  </a>
  <a class="item">
  <i class="fa fa-code-fork fa-2x" aria-hidden="true"></i>
  </a>
  <a class="item">
  <i class="fa fa-download fa-2x" aria-hidden="true"></i>
  </a>
  <a class="item">
  <i class="fa fa-share-alt fa-2x" aria-hidden="true"></i>
  </a>
  <div class="ui divider"></div>
  <a class="item">
   <i class="fa fa-code fa-2x" aria-hidden="true"></i>
  </a>
  <a class="item">
  <i class="fa fa-comment fa-2x" aria-hidden="true"></i>
  </a>
  <div class="ui divider"></div>

<!--   <a class="item">
    Tools Used
  </a>
  <a class="item">
    Date Created
  </a> -->
  <br>
  <a class="ui label">
  Tag
  <i class="fa fa-times" aria-hidden="true"></i>
</a>
</div>

<!--+++++++++      BEGIN GRID      +++++++++-->
<!--+++++++++      BEGIN GRID      +++++++++-->
<!--+++++++++      BEGIN GRID      +++++++++-->
<div class="ui grid">
  
  <div class="three wide column"></div>

  <div class="ten wide column">
    <!-- <img class="ui fluid image" src="/img/mockups/RenderResult.jpg"> -->

    <div class="wrapper">
      <div class="h_iframe">
        <iframe width="1110" height="725" src="http://liooil.neocities.org/VR_webStuff/vaporWave.html"></iframe>
      </div>
    </div> 

<!--</div>-->
<div class="ui inverted segment">
  <h1 class="ui grey inverted header">Vaporroom</h1>
  <div class="ui divider"></div>

  <a class="ui medium top right attached image label">
    <i class="fa fa-expand" aria-hidden="true"></i>
  </a>
<!--   <a class="ui large red bottom right attached label">+</a>-->

  <div class="ui compact menu">
  <a class="item">
    <img src="/img/mockups/FAicon.jpg"> liooil
  </a>
  <a class="red item">
    <i class="fa fa-heart-o" aria-hidden="true"></i>  &nbsp; &nbsp;follow
  </a>
</div>
</div>

<!-- <div class="ui inverted left floated segment">
  This segment will appear to the left
</div>

<div class="ui inverted right floated segment">
  <p>This segment will appear to the right This segment will appear to the right</p>
</div> -->
<!-- END OF TEN COLUMN SEGMENT -->
</div>

<!-- BEGIN RAIL COLUMN -->
    <div class="two wide column">
      <div class="ui small images">
        <img class="ui image" src="/img/mockups/siteAsset01.jpg">
        <img class="ui image" src="/img/mockups/siteAsset02.jpg">
        <img class="ui image" src="/img/mockups/siteAsset03.jpg">
        <img class="ui image" src="/img/mockups/siteAsset04.jpg">
        <img class="ui image" src="/img/mockups/siteAsset05.jpg">
      </div>
      <div class="ui inverted buttons">
        <button class="inverted fluid ui icon button">
          <i class="fa fa-angle-double-up fa-2x" aria-hidden="true"></i>
        </button>
            <button class="inverted fluid ui icon button">
          <i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  <!--   <div class="ten wide column">
      <div class="ui small images">
        <img src="/img/mockups/RenderResult03.jpg">
        <img src="/img/mockups/RenderResult03.jpg">
        <img src="/img/mockups/RenderResult03.jpg">
        <img src="/img/mockups/RenderResult03.jpg">
      </div>
    </div> -->
  </div>
</div>
