

<h1>FRONT PAGE</h1>
<div class="ui page left vertical inverted labeled icon sidebar overlay visible menu">
  <a class="item">
  <i class="fa fa-bars" aria-hidden="true"></i>
  VEO
  </a>
    <div class="ui two top attached buttons">
      <div class="ui button">EXPLORE</div>
      <div class="inverted ui button">CREATE</div>
    </div>
    <br>

	 <div class="ui fluid category search">
	  <div class="ui icon input">
	    <input class="prompt" placeholder="Search assets..." type="text">
	  </div>
	  <div class="results"></div>
	</div>

  <a class="item">
    Assets Library
  </a>
  <a class="item">
    Tutorials
  </a>
  <br>
  <button class="fluid ui teal button">Submit</button>
  <div class="ui divider"></div>
  <a class="item">
  ALL
  </a>
  <a class="item">
  <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
  </a>
  <a class="item">
  <i class="fa fa-cube fa-2x" aria-hidden="true"></i>
  </a>
  <a class="item">
  <i class="fa fa-picture-o fa-2x" aria-hidden="true"></i>
  </a>
  <a class="item">
  <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i>
  </a>
<!--   <a class="item">
  <i class="fa fa-music fa-2x" aria-hidden="true"></i>
  </a> -->

  <br>
  <div class="ui small image">
   	<a class="item">	
   	  <img src="/img/mockups/Asset_model003.png">
   	</a>	
  </div>
	<br>
  <div class="ui mini action input">
    <input value="<a-asset-item id=&quot;lionF&quot; src=&quot;VRlionF.dae&quot;></a-asset-item>" type="text">
  </div>
  	<br>

  	<div class="ui divider"></div>
  	
	<div class="ui small images">
		<a class="item">
	  		<img class="ui image" src="/img/mockups/Asset_model004.jpg">
	  	</a>	
	</div>
	  <div class="ui mini action input">
	    <input value="<a-asset-item id=&quot;lionF&quot; src=&quot;VRlionF.dae&quot;></a-asset-item>" type="text">
	  </div>
   	<br>
  	<div class="ui divider"></div>
	<div class="ui small images">
	  <img class="ui image" src="/img/mockups/Asset_model005.jpg">
	  <br>
	</div>
	<div class="ui mini action input">
      <input value="<a-asset-item id=&quot;lionF&quot; src=&quot;VRlionF.dae&quot;></a-asset-item>" type="text">
	</div>
</div>

<!-- <div class="ui grid">
  <div class="four wide column"></div>
  <div class="ten wide column">
	<div class="ui special small cards">
	  <div class="small card">
	    <div class="blurring dimmable small image">
	      <div class="ui dimmer">
	        <div class="content">
	          <div class="center">
	            <div class="ui inverted button">Asset Page</div>
	          </div>
	        </div>
	      </div>
	      <img src="/img/mockups/Asset_model003.png">
	    </div>
	  </div>
	</div> -->
<!-- 
	 <div class="ui small fade reveal">
	  <div class="visible content">
	   <img src="/img/mockups/Asset_model003.png" class="ui small image">
	  </div>
	  <div class="hidden content">
	  	<div class="center">
	    	<div class="ui inverted button">Asset Page</div>
	  	</div>
	  </div>
	</div> -->
<!-- <br>
  <div class="column">
    <div class="ui small image">
      <div class="ui bottom attached grey label">
		<a>Asset Page</a>
      </div>
      <img src="/img/mockups/Asset_model003.png">
    </div>
  </div>
  
  </div>
</div> -->	
<!-- 
<script>
$('.special.cards .image').dimmer({
  on: 'hover'
});
</script> -->